@model List<Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="page">
    <div id="customer">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-user-tie"></i>MÜŞTƏRİLƏRİN SİYAHISI</h1>
                </div>
                <div class="col-3 text-right">
                    <a href="@Url.Action("create","customer")" class="btn btn-success">Yeni Müştəri Yarat</a>
                </div>

            </div>
        </div>

        <div class="customer-list">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:black">
                        <th></th>
                        <th>Adi</th>
                        <th>Soyadi</th>
                        <th>Yasi</th>
                        <th>Passport No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="width:20%">
                            <div class="icon">
                                <img src="~/Public/assets/images/image-gallery/429588-200.png" alt="">
                            </div>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>@item.Surname</td>
                        <td>@item.Age</td>
                        <td>@item.PassportNo</td>
                        
                        <td style="width:20%">
                            <a href="@Url.Action("edit", new { id=item.Id})" style="width:90px;" class="btn btn-primary mb-1">Yenile</a>
                            <a onclick="return confirm('Are you sure to delete @item.Name @item.Surname?')" href="@Url.Action("delete", new { id=item.Id})" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                    }



                </tbody>
            </table>
        </div>



    </div>
</div>